# Auto detect text files and perform LF normalization
* text=auto

# 言語判定の修正（ASP.NETと誤認されるのを防ぐ）
*.csproj linguist-detectable=false
*.sln linguist-detectable=false
*.meta linguist-detectable=false
*.asset linguist-detectable=false
